@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/** Table Styles */
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-radius: 10px;
    width: 1000px;
    text-align: center;
}
  
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
    height: 50px;
}
  
table tr:nth-child(even){
    background-color: #f2f2f2;
}
  
table tr:hover {
    background-color: #04AA6D;
    color: white;
}

table tbody tr li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}
  
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

/** Row Filter */

.row-input {
    margin-bottom: 15px;
    display: flex;
    margin-left: 30px;
}

span.label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
}

.row-button {
    width: 300px;
    display: flex;
    justify-content: center;
}

.row-button > input:first-child {
    margin-right: 10px;
}


